/*
CSS 'divList' selectors.
Nice clickable lists.
<div class="divList">
	<div class="divListItem">
		<img class="icon"></img>
		<div class="header">List Item</div>
		<div class="desc">List Item Description</div>
	</div>
</div>
*/

div.divList {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.divListItem {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 2px;
	padding-left: 10px;
	
}

div.divListItem.clickable {
	cursor: pointer;
}

div.divListItem.clickable:not(.selected):hover {
	background-color: #DEE;
}

div.divListItem:not(.clickable) {
	background-color: lightgray;
}

div.divListItem.selected {
	background-color: lightblue;
}

div.divListItem > div.heading {
	font-weight: bold;
	width: 100%;
	display: inline;
	vertical-align: middle;
	margin-left:7px;
}


div.divListItem > div.desc {
	font-style: italic;
	font-size: 80%;
	margin-bottom:5px;
	margin-left:7px;
	color: #444;
}

div.divListItem:not(:hover) > div.desc {
	//color: white;
}

div.divListItem > img.icon {
	width: 30px;
	border: 1px solid black;
}