
div.module {
	margin:10px;
	background-color:lightgray;
}


div.module > div.heading {
	padding:10px;
	font-weight: bold;
	text-align: left;
}

div.module > div.desc {
	padding:10px;
	font-style: italic;
	font-size: 80%;
	text-align: right;
	background-color:#DDD;
}