
div.module {
	margin-left:20px;
	margin-top:20px;
	background-color:white;
	//border: 1px solid black;
}


div.module > div.heading {
	padding:10px;
	font-weight: bold;
	text-align: left;
}

div.module > div.desc {
	padding:10px;
	font-style: italic;
	font-size: 80%;
	text-align: right;
	background-color:#DDD;
}