div.navBar {
	background-color: white;
	padding-top:10px;
}

div.navBar > div.navButton {
	display: inline-block;
	margin-left:5px;
	margin-right:5px;
	padding:5px;
	text-decoration: none;
	color: black;
	
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

div.navBar > div.navButton.selected {
	background-color: rgb(25, 109, 95);
	color: white;
}

div.navBar > div.navButton:not(.selected):hover {
	background-color: #DEE;
}