@import "divList.css";
@import "module.css";
@import "statusBox.css";
@import "navBar.css";
@import "loading.css";

body {
	background-color: rgb(25, 109, 95);
	width: 100%;
	margin:0px;
	padding: 0px;
	font-family: arial,sans-serif;
	top:0px;
	position:absolute;
	width:100%;
}

header {
	margin:0px;
	background-color:white;
	text-align:center;
}

header > h1 {
	margin:0px;
	vertical-align: middle;
}

header > h1 > span#headerText {
	vertical-align:middle;
	margin:10px;
}

.navBar {
	text-align:center;
}


header > h1 > img {
	vertical-align:middle;
	margin:10px;
	width:50px;
	//border: 1px solid black;
}

div.header {
	width: 100%;
	height: 10%;
	margin: 0px;
	padding-left: 20px;
	color: black;
	float:left;
}

div.header div.headerTextContainer {
	background-color:white;
	float:left;
	margin:20px;
}

div.mainContainer {
	margin-left:0px;
	height: 100%;
	background-color: white;
}


div.machineList div.machineListItem {
	background-image: linear-gradient(left ,  rgb(196,219,230) 0%, rgb(157,169,217) 64%, rgb(196,219,230) 100%);
	background-image: -o-linear-gradient(left ,  rgb(196,219,230) 0%, rgb(157,169,217) 64%, rgb(196,219,230) 100%);
	background-image: -moz-linear-gradient(left ,  rgb(196,219,230) 0%, rgb(157,169,217) 64%, rgb(196,219,230) 100%);
	background-image: -webkit-linear-gradient(left , rgb(157,169,217) 0%, rgb(196,219,230) 64%, rgb(157,169,217) 100%);
	background-image: -ms-linear-gradient(left ,  rgb(196,219,230) 0%, rgb(157,169,217) 64%, rgb(196,219,230) 100%);
	margin-left: 10px;
	margin-right: 1%;
	margin-bottom: 10px;
	background-color: white;
	padding:6px;
	box-shadow: 5px 5px 1px #888;
}

div.machinePanel {
	float:left;
	margin:20px;
	background-color:white;
	width:95%;
	box-shadow: 5px 5px 5px #888;
}

div.machinePanel h2 {
	margin-left:30px;
}

div.machineInfo {
	margin:30px;
	padding-right:10px;
	float: left;
	border: 1px solid black;
	border-radius: 10px;
}

div.machineInfo li {
	margin-bottom: 15px;
}

div.module#testListModule {
	width:25%;
}

div.module#machineModule {
	width:50%;
	height:500px;
}

div.module#machineModule div.statusBox#status {
	width:50%;
	float:right;
}

img.deleteIcon:hover {
	cursor: pointer;
}

img.deleteIcon {
	width:20px;
	margin:5px;
}

div#testPlanModule {
	width: 70%;
	height: 300px;
	float:right;
	margin-right: 20px;
}

textarea#testPlanEditorArea {
	width:90%;
	height: 700px;
}

div.testList {
	margin-top:50px;
	width:300px;
	background-color:white;
	border-bottom:2px solid rgb(88, 131, 129);
	float:left;
}

div.testList > div {
	//text-align:right;
	border-top:2px solid rgb(88, 131, 129);
	padding:20px;
}

div.testContent {
	margin-top:30px;
	background-color:white;
	border:2px solid rgb(88, 131, 129);
	float:left;
	width:800px;
}

div.machineList {
	background-color: #444;
	border: 2px solid white;
	border-radius: 6px;
	overflow:auto;
}

div.resultCard {
	float:left;
	margin:10px;
	padding:5px;
	background-color:white;
}

div.resultCard h1 {
	font-height: 2px;
}


div.resultCard > table {
	background-color:white;
	border:2px solid black;
	width:100%;
}

div.resultCard td,th {
	background-color:#DDD;
	padding:3px;
}

div.editorMenu {
	background-color:white;
	overflow:auto;
	border-radius:5px;
}

div.editorMenu > div.item {
	float:left;
	width:100px;
	padding:5px;
	text-align:center;
}

div.editorMenu > div.label {
	float:left;
	width:100px;
	padding:5px;
	text-align:center;
	font-style: italic;
}


div.editorMenu > div.item:hover {
	background-color:lightblue;
	cursor:pointer;
}