@import "divList.css";
@import "module.css";
@import "statusBox.css";

body {
	background-color:#BBB;
	width: 100%;
	margin:0px;
	padding: 0px;
	font-family: arial,sans-serif;
}


div.header {
	width: 100%;
	height: 10%;
	margin: 0px;
	padding-left: 20px;
	color: black;
	float:left;
	//background-color:#DDD;
}

div.header div.headerTextContainer {
	background-color:white;
	float:left;
	margin:20px;
}

div.mainContainer {
	margin-left:0px;
	height: 100%;
	background-color: white;
}


div.machineList {
	text-align: center;
	font-size: 14px;
	padding: 5px;
	float: left;
	width:15%;
	height:100%;
}

div.machineList div.machineListItem {
	background-image: linear-gradient(left ,  rgb(196,219,230) 0%, rgb(157,169,217) 64%, rgb(196,219,230) 100%);
	background-image: -o-linear-gradient(left ,  rgb(196,219,230) 0%, rgb(157,169,217) 64%, rgb(196,219,230) 100%);
	background-image: -moz-linear-gradient(left ,  rgb(196,219,230) 0%, rgb(157,169,217) 64%, rgb(196,219,230) 100%);
	background-image: -webkit-linear-gradient(left , rgb(157,169,217) 0%, rgb(196,219,230) 64%, rgb(157,169,217) 100%);
	background-image: -ms-linear-gradient(left ,  rgb(196,219,230) 0%, rgb(157,169,217) 64%, rgb(196,219,230) 100%);
	margin-left: 10px;
	margin-right: 1%;
	margin-bottom: 10px;
	background-color: white;
	padding:6px;
	box-shadow: 5px 5px 1px #888;
}

div.machinePanel {
	float:left;
	margin:20px;
	background-color:white;
	width:95%;
	box-shadow: 5px 5px 5px #888;
}

div.machinePanel h2 {
	margin-left:30px;
}

div.machineInfo {
	margin:30px;
	padding-right:10px;
	float: left;
	border: 1px solid black;
	border-radius: 10px;
}

div.machineInfo li {
	margin-bottom: 15px;
}

div.module#testListModule {
	width:25%;
}

div.module#machineModule {
	width:50%;
	height:500px;
}

div.module#machineModule div.statusBox#status {
	width:50%;
	float:right;
}

div#testPlanModule {
	width: 70%;
	height: 300px;
	float:right;
	margin-right: 20px;
}

textarea#testPlanArea {
	width:100%;
	height: 70%;
}